version: '3'

services:
  home_assistant:
    image: homeassistant/raspberrypi3-homeassistant:${HASS_VERSION}
    restart: always
    depends_on:
    - mqtt
    volumes:
    - /home/pi/home_assistant:/config
    ports:
    - "5684:5684/udp" # tradfri
    networks:
    - proxy
    - mqtt

  nginx:
    image: nginx:latest
    container_name: home_nginx
    restart: always
    depends_on:
      - home_assistant
    ports:
      - 80:80
    volumes:
      - ./volumes/nginx-vol:/data
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - proxy

networks:
  proxy:
